/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');

/* vars */

:root{
    /* colors */
    --primary: #32cd74;
    
    --secondary: #0000007a;
    --tertiary: #ffffff7a;

    --quarto: #32cd7496;

    --quintos: #ffffff7a;

    --scroll: #0d0e0f;

    --body: #222222;
}

/* global */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100%;
    overflow-x: hidden!important;
    background-color: #f4f4f4;
}

img, svg{
    vertical-align:middle;
}

body .unselectable{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body span.category{
    background: var(--body);
    font-weight: 700;
    font-size: 25px;
    color: var(--quarto);
    padding: 3px 20px 3px 20px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    user-select: none;
}

body span.info-span-content{
    font-size: 1.1rem;
    line-height: 1.5;
    display: block;
    color: #757575;
    text-transform: uppercase;
    text-shadow: 0px 5px rgb(0 0 0 / 20%);
    letter-spacing: .3125rem;
    text-align: center;
    margin-bottom: 2rem;
}

body span.info{
    background: var(--body);
    font-weight: 900;
    font-size: 35px;
    color: #fff;
    padding: 0px 25px 0px 25px;
    border-radius: 5px;
    user-select: none;
    line-height: 80px;
}

body span.info-span{
    color: #fff;
    background-color: var(--body);
    border-radius: 5px;
    padding: 5px;
}

.transition{
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition:all 600ms ease-in-out;
    -o-transition:all 600ms ease-in-out;
    transition:all 600ms ease-in-out;
}

/* anim */

@keyframes loader {
    to{
        transform: rotate(500deg);
    }
}

@keyframes animScaleGlobal {
    100%{
        transform: scaleX(1);
    }
}

/* loader */

.loader-container{
    width: 100%;
    height: 100%;
    overflow: none;
    background-color: var(--body);
    position: fixed;
    display: flex;
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

.loader{
    width: 100px;
    height: 100px;
    border: 5px solid;
    color: var(--primary);
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 1.2s linear infinite;
}

/* scroll */

::-webkit-scrollbar {
    width: 0.7em;
    height: 0.5em;
    background-color: var(--quintos);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

::-webkit-scrollbar-track {
    background-color: var(--quintos);
}

/* btn-settings */

.btn-settings-container{
    height: 100%;
    position: fixed;
    left: 0;
    right: calc(100% - 130px);
    top: calc(100% - 70px);
    bottom: 0;
}

.btn-settings-container .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-settings-container .container .btn-settings-content{
    margin: 5px;
}

.btn-settings-container .container .btn-settings-content button{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background-color: black;
    color: #fff;
    font-size: 25px;
    transition: all 600ms ease-in-out;
}


/* dark mode */

.dark-mode{
    background-color: #161616;
    color: white;
    z-index: 99999;
}

.dark-container{
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    left: calc(100% - 70px);
    top: calc(100% - 70px);
    bottom: 0;
}

.dark-container button{
    background-color: black;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='white' class='bi bi-moon' viewBox='0 0 16 16'%3E%3Cpath d='M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 4px center;
    vertical-align: middle;
    border: 2px solid black;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
    transform: scale(3);
    transition: all 500ms ease-in-out;
}

.dark-container button.active{
    background-color: white;
    border-color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='black' class='bi bi-lightbulb' viewBox='0 0 16 16'%3E%3Cpath d='M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z'/%3E%3C/svg%3E");
}

/* dark mode settings */

.dark-mode p, .dark-mode span, .dark-mode span.info, .dark-mode span.info-span{
    color: #c8c8c8;
}

.dark-mode .main .container .main-content.admin h1{
    background-color: rgba(255, 255, 255, .7);
    color: black;
}

.dark-mode .admin-main .admin-container .admin-content img{
    border-color: #c8c8c8;
}

.dark-mode span.info-span-content{
    color: rgb(187, 187, 187);
    text-shadow: 0px 5px rgba(255, 255, 255, .2);
}

.dark-mode .register-main .register-container .register-content-buttons .btn button{
    border-color: rgba(255, 255, 255, .8);
    color: rgba(255, 255, 255, .8);
}

.dark-mode .navbar-links{
    color: #fff;
    background-color: var(--body);
}

.dark-mode .navbar-links:hover{
    color: var(--body);
    background-color: #fff;
}

.dark-mode .navbar-links.active{
    color: var(--body);
    background-color: #fff;
}

.dark-mode .register-main .register-container .register-container-items .item-cards form .form-container{
    background-color: rgba(255, 255, 255, .1);
    color: #c8c8c8;
}

.dark-mode .register-main .register-container .register-container-items .item-cards form .form-container .form-group input{
    color: #c8c8c8;
    background-color: rgba(255, 255, 255, .1);
}

.dark-mode .main .container .main-content h1{
    color: black;
}

.dark-mode .main .container .main-content.register h1{
    color: black;
    background-color: #c8c8c8;
}

.dark-mode .main .container .main-content .main-btn .btn a{
    border-color: black;
    background-color: black;
    color: #c8c8c8;
}

.dark-mode .main .container .main-content .main-btn .btn a:hover{
    border-color: #c8c8c8;
    background-color: black;
    color: #c8c8c8;
}

.dark-mode .main{
    background-image: linear-gradient(112deg, rgba(0, 0, 0, .4) 1%, rgba(0, 0, 0, .8) 90%),url(../gfx/cell.png);
}

.dark-mode .main.register{
    background-image: linear-gradient(112deg, rgba(0, 0, 0, .4) 1%, rgba(0, 0, 0, .8) 90%),url(../gfx/swat.jpg);
}

.dark-mode .main.admin{
    background-image: linear-gradient(112deg, rgba(0, 0, 0, .4) 1%, rgba(0, 0, 0, .8) 90%),url(../gfx/swat.jpg);
}

.dark-mode .admin-main .admin-container .admin-ts.item .admin-content .container{
    background-color: rgba(255, 255, 255, .1);
}

.dark-mode .admin-main .admin-container .admin-ts.item .admin-content .container p{
    color: #c8c8c8;
    transition: all 600ms ease-in-out;
}

.dark-mode .admin-main .admin-container .admin-ts.item .admin-content .container:hover p{
    color: black;
}

.dark-mode .admin-main .admin-container .admin-ts.item .admin-content .container h1{
    color: #c8c8c8;
    transition: all 600ms ease-in-out;
}

.dark-mode .admin-main .admin-container .admin-ts.item .admin-content .container:hover h1{
    color: black;
}

.dark-mode .btn-settings-container .container .btn-settings-content button{
    background-color: #fff;
    color: black;
}

/* nav */

.navbar-toggle a{
    display: none;
}

.navbar{
    background: transparent;
    display: flex;
    height: 120px;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 999;
}

.navbar-container{
    display: flex;
    justify-content: flex-start;
    height: 80px;
    z-index: 1;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

/* logo */

.navbar-logo{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    height: 93%;
    transition: all .5s ease;
}

.navbar-logo a img{
    width: 70px;
}

/* menu */

.navbar-menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-item{
    height: 45px;
    margin: 0 10px;
}

.navbar-item a i{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.navbar-links{
    color: var(--body);
    display: flex;
    background-color: #fff;
    font-size: 18px;
    font-weight: 500 !important;
    align-items: center;
    justify-content: center;
    width: 150px;
    text-decoration: none;
    height: 100%;
    border-radius: 5px;
    transition: all .5s ease;
}

.navbar-links.active{
    color: #fff;
    transition: all .5s ease;
    background-color: var(--body);
    border-radius: 5px;
}

.navbar-links:hover{
    background-color: #fff;
    border-radius: 5px;
    color: #fff;
    transition: all .5s ease-out;
    background-color: var(--body);
}

/* main */

.main{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(112deg,var(--tertiary) 1%,var(--secondary) 90%),url(../gfx/cell.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.main.register{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(112deg,var(--tertiary) 1%,var(--secondary) 90%),url(../gfx/swat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.main.admin{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(112deg,var(--tertiary) 1%,var(--secondary) 90%),url(../gfx/swat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.main .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .container .main-content{
    margin-top: 100px;
    padding: 20px;
    height: 100%;
}

.main .container .main-content.register{
    text-align: center;
    padding: 20px;
    margin-top: 250px;
}

.main .container .main-content.admin{
    text-align: center;
    padding: 20px;
    margin-top: 250px;
}

.main .container .main-content.register h1{
    background-color: var(--body);
    padding: 10px;
    border-radius: 5px;
}


.main .container .main-content.admin h1{
    background-color: var(--body);
    padding: 10px;
    border-radius: 5px;
}

.main .container .main-content.img{
    padding: 0;
}

.main .container .main-content h1{
    color: #fff;
    user-select: none;
    font-weight: 900;
    font-size: 50px;
    line-height: 50px;
}

.main .container .main-content p{
    color: #fff;
    user-select: none;
    margin: 10px 0;
}

.main .container .main-content img{
    width: 200px;
    /* background-color: var(--body); */
    padding: 5px;
}

.main .container .main-content .main-btn{
    height: 100%;
    display: flex;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
}

.main .container .main-content .main-btn .btn{
    margin: 0 20px;
}

.main .container .main-content .main-btn .btn a{
    border: 1px solid white;
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 10px 15px;
    transition: all .5s ease-in-out;
}

.main .container .main-content .main-btn .btn a:hover{
    border-color: black;
    background-color: white;
    color: black;
}

.main .container .main-content .main-btn .btn a i{
    margin-left: 5px;
}

/* about */

.about{
    width: 100%;
    height: 100%;
    margin-top: -170px;
}

.about .about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

.about .about-container .about-content{
    color: var(--body);
    margin: 20px 0;
}

.about .about-container .about-content p{
    max-width: 1000px;
    text-align: justify;
}

.about .about-container .about-content .about-imgs{
    display: flex;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .about-container .about-content .about-imgs .about-imgs-content{
    margin: 20px;
}

.about .about-container .about-content .about-imgs .about-imgs-content img{
    background: var(--body);
    display: block;
    width: 150px;
    margin-bottom: 10px;
    border: 3px solid var(--primary);
    border-radius: 50%;
    box-shadow: 0 0 30px rgb(0 0 0 / 50%);
}

/* register.html */

.register-main{
    width: 100%;
    height: 100%;
    margin-top: -120px;
}

.register-main .register-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

.register-main .register-container .register-content-buttons{
    width: 100%;
    margin: 20px 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.register-main .register-container .register-content-buttons .btn{
    margin: 10px;
}

.register-main .register-container .register-content-buttons .btn button{
    border: 1px solid var(--body);
    box-shadow: 5px 5px 20px rgb(0 0 0 / 20%);
    border-radius: 5px;
    cursor: pointer;
    background: none;
    color: var(--body);
    padding: 20px 50px;
    transition: all 600ms ease-in-out;
}

.register-main .register-container .register-content-buttons .btn button:hover{
    background-color: var(--primary);
    border-color: var(--primary);
    color: #fff;
}

.register-main .register-container .register-content-buttons .btn button.active-btn{
    background-color: var(--primary);
    border-color: var(--primary);
    color: #fff;
}

.register-main .register-container .register-container-items{
    margin: 20px 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.register-main .register-container .register-container-items .item-cards{
    pointer-events: none;
    opacity: 0;
    transform: scale(0);
    transition: opacity 600ms ease-in-out;
}

.register-main .register-container .register-container-items .item-cards.top{
    margin-top: -411px;
}

.register-main .register-container .register-container-items .item-cards.focus{
    opacity: 1;
    animation: animScaleGlobal 900ms cubic-bezier(1, 0, 0.5, 1) forwards;
    pointer-events: auto;
}

.register-main .register-container .register-container-items .item-cards form#registro{
    margin-top: 420px;
    width: 100%;
    height: 100%;
}

.register-main .register-container .register-container-items .item-cards form h2{
    text-shadow: 0px 5px rgb(0 0 0 / 20%);
    margin-bottom: 5px;
}

.register-main .register-container .register-container-items .item-cards form .form-container{
    padding: 50px;
    margin: 0 auto;
    width: 50%;
    background-color: #e6e6e6d3;
}

.register-main .register-container .register-container-items .item-cards form .form-container .error{
    margin: 20px 0;
    width: 100%;
    color: #c62828;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, .1);
    padding: 10px;
}

.register-main .register-container .register-container-items .item-cards form .form-container .success{
    margin: 20px 0;
    width: 100%;
    color: green;
    border-radius: 5px;
    background-color: rgba(0, 255, 0, .1);
    padding: 10px;
}

.register-main .register-container .register-container-items .item-cards form .form-container .error span{
    font-family: sans-serif;
}

.register-main .register-container .register-container-items .item-cards form .form-container .form-group{
    margin: 20px 0;
    text-align: left;
}

.register-main .register-container .register-container-items .item-cards form .form-container #divCpf{
    pointer-events: none;
    opacity: 0;
    transition: opacity 600ms ease-in-out;
}

.register-main .register-container .register-container-items .item-cards form .form-container #divCpf.focus{
    opacity: 1;
    pointer-events: auto;
}

.register-main .register-container .register-container-items .item-cards form .form-container .form-group label{
    display: block;
}

.register-main .register-container .register-container-items .item-cards form .form-container .form-group input{
    width: 100%;
    border: none;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    background-color: #ffffff9d;
    outline: none;
    border-bottom: 1px solid #ccccccde;
}

.register-main .register-container .register-container-items .item-cards form .form-container .form-group input#resp{
    display: none;
}

.register-main .register-container .register-container-items .item-cards form .form-container .form-group input#resp + label:before{
    content: '';
    transition: all 600ms ease-in-out;
    width: 18px;
    height: 18px;
    border-radius: 10%;
    background-color: #ffffff9d;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 3px;
    border: 1px solid var(--body);
    display: inline-block;
    cursor: pointer;
}

.register-main .register-container .register-container-items .item-cards form .form-container .form-group input#resp:checked + label:before{
    background-color: var(--primary);
    background-position: center;
    border-color: var(--primary);
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
}

.register-main .register-container .register-container-items .item-cards form .form-container .form-group input:focus{
    border: 1px solid var(--primary);
}

.register-main .register-container .register-container-items .item-cards form .form-container .form-group input:valid{
    border: 1px solid var(--primary);
}

.register-main .register-container .register-container-items .item-cards form .form-container .form-group input[type = 'submit']{
    background: none;
    border: 1px solid var(--primary);
    color: var(--primary);
    cursor: pointer;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 20%);
    transition: all 600ms ease-in-out;
}

.register-main .register-container .register-container-items .item-cards form .form-container .form-group input[type = 'submit']:hover{
    color: #fff;
    background-color: var(--primary);
}

.register-main .register-container .register-container-items .item-cards form .form-container .form-group .admin input{
    width: 5%;
}

.register-main .register-container .register-container-items .item-cards form .form-container .form-group .admin label{
    display: contents;
    user-select: none;
    cursor: pointer;
}

/* admin.php */

.admin-main{
    height: 100%;
    width: 100%;
    margin-top: -170px;
}

.admin-main .admin-container{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.admin-main .admin-container .admin-ts{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 20px;
}

.admin-main .admin-container .admin-ts.item .admin-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.admin-main .admin-container .admin-ts .admin-content{
    margin: 20px;
}

.admin-main .admin-container .admin-ts .admin-content img{
    width: 100px;
    padding: 10px;
    border: 2px solid var(--body);
    background-color: var(--primary);
    border-radius: 50%;
}

.admin-main .admin-container .admin-ts.item .admin-content .admin-content-item{
    margin: 10px;
}

.admin-main .admin-container .admin-ts.item .admin-content .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d8d8d8;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    margin: 20px;
    cursor: pointer;
    transition: all 600ms ease-in-out;
}

.admin-main .admin-container .admin-ts.item .admin-content .container:hover{
    background-color: var(--primary);
}

.admin-main .admin-container .admin-ts.item .admin-content a{
    color: black;
    transition: all 600ms ease-in-out;
}

.admin-main .admin-container .admin-ts.item .admin-content .container .admin-content-item p{
    max-width: 420px;
}

.admin-main .admin-container .admin-ts.item .admin-content .container .admin-content-item img{
    width: 100px;
    padding: 10px;
    border: 2px solid var(--primary);
    background-color: #686868;
    border-radius: 50%;
}

/* footer */

footer{
    width: 100%;
    height: 100%;
    margin-top: -100px;
    background-color: var(--body);
}

footer .footer-container{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .footer-container .footer-content{
    margin: 0 20px;
    color: #fff;
    text-align: center;
}

/* responsive */

@media screen and (max-width: 960px){

    body span.info{
        padding: 3px;
    }

    footer{
        margin-top: -40px;
    }

    .main, .main.register{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    /* settings */

    .btn-settings-container{
        right: calc(100% - 75px);
        top: calc(100% - 125px);
    }

    .btn-settings-container .container{
        flex-direction: column;
    }

    /* dark-mode */

    .dark-container{
        left: calc(100% - 50px);
        top: calc(100% - 50px);
    }

    .dark-container button{
        padding: 8px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='white' class='bi bi-moon' viewBox='0 0 16 16'%3E%3Cpath d='M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z'/%3E%3C/svg%3E");
        background-position: 3px center;
    }

    .dark-container button.active{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='black' class='bi bi-lightbulb' viewBox='0 0 16 16'%3E%3Cpath d='M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z'/%3E%3C/svg%3E");
    }

    /* admin.php */

    .main .container .main-content.admin h1{
        font-size: 25px;
    }

    .admin-main{
        margin-top: -80px;
    }

    .admin-main .admin-container{
        padding: 10px;
    }

    .admin-main .admin-container .admin-ts.item{
        margin: 0 auto;
    }

    .admin-main .admin-container .admin-ts.item .admin-content .container{
        flex-direction: column;
    }

    /* register.php */

    .register-main{
        margin-top: -10px;
    }

    .main .container .main-content.register h1{
        transform: scale(.8);
        width: 100%;
    }

    .register-main .register-container{
        padding: 20px;
    }

    .register-main .register-container .register-container-items .item-cards form#registro{
        margin-top: 350px;
    }

    .register-main .register-container .register-container-items .item-cards form .form-container{
        width: 100%;
        padding: 20px;
    }

    .register-main .register-container .register-container-items .item-cards.top{
        margin-top: -355px;
    }

    /* about */

    .about{
        margin-top: -50px;
    }
    
    .about .about-container .about-content p{
        max-width: 100%;
        text-align: left;
        margin: 0 auto;
    }

    /* main */

    .main .container .main-content{
        margin-top: 200px;
        padding: 15px;
    }

    .main .container .main-content.img{
        display: none;
    }

    .main .container .main-content .main-btn .btn{
        margin: 20px 0;
    }

    .main .container .main-content .main-btn{
        flex-direction: column;
        margin: 10px 0;
    }

    /* navbar */

    .navbar{
        background-color: var(--body);
    }

    .navbar-container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        background: transparent;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar-menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 600ms ease-in-out;
        z-index: -1;
    }

    .navbar-item{
        margin: 0 auto;
    }

    .navbar-menu.active{
        background-color: var(--body);
        top: 100%;
        opacity: 1;
        transition: all 600ms ease-in-out;
        z-index: 99;
        height: 30vh;
        font: 1.6rem;
    }

    .navbar-logo{
        padding: 20px;
    }

    .navbar-logo img{
        padding: 0 auto;
        width: 120px;
    }

    .navbar-toggle{
        padding: 10px;
        border-radius: 5px;
        background-color: var(--scroll);
        cursor: pointer;
    }

    .navbar-toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: #fff;
    }

    .navbar-item{
        width: 100%;
    }

    .navbar-links{
        text-align: center;
        padding: 1rem;
        width: 100%;
        display: table;
    }

    .navbar-links.active{
        color: white;
        border: none;
    }

    .navbar-item:hover{
        border: none;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 40px;
        margin: 0;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    #mobile-menu .bar{
        background-color: #fff;
    }

    .navbar-toggle .bar{
        display: block;
        cursor: pointer;
    }
        
    .navbar-toggle a{
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 0 auto;
        justify-content: center;
    }

    #mobile-menu.is-active .bar{
        background-color: #fff;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}